/*------------
---------------
   Main-Feed
--------------
------------ */

.main-feed {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid var(--accent-border);
}

/*------------
---------------
   Explore-Feed
--------------
------------ */

.explore-tools {
  display: flex;
}

.explore-gear {
  background: blue;
}
