:root {
  --twitter-color: #50b7f5;
  --twitter-background: #14202b;
  --hover-highlight-background: rgba(29, 161, 242, 0.1);
  --accent-border: rgba(29, 160, 242, 0.19);
  --fontsize-large: 20px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

.App {
  display: grid;
  grid-template-columns: 275px auto 400px;
  height: 100vh;
  margin: 0 auto;
  max-width: 1300px;
}

button {
  cursor: pointer;
}
