:root {
  --twitter-color: #50b7f5;
  --twitter-background: #14202b;
  --hover-highlight-background: rgba(29, 161, 242, 0.1);
  --accent-border: rgba(29, 160, 242, 0.19);
  --fontsize-large: 20px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

.App {
  display: grid;
  grid-template-columns: 275px auto 400px;
  height: 100vh;
  margin: 0 auto;
  max-width: 1300px;
}

.btn {
  cursor: pointer;
}

/*------------
---------------
   Side-Bar
--------------
------------ */

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.twitter-icon:hover {
  background: var(--accent-border);
  border-radius: 25px;
}

.twitter-logo {
  padding-left: 1em;
  margin-bottom: 15px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.2em 0.8em;
  margin-bottom: 0.9em;
  font-size: var(--fontsize-large);
  font-weight: var(--font-weight-bold);
  width: fit-content;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.sidebar-link:hover *,
.sidebar-link:hover {
  background: var(--hover-highlight-background);
  color: #188ad1;
}

.side-bar-btn {
  background: #1da1f3;
  padding: 0.8em 1em;
  border: none;
  border-radius: 25px;
  width: 230px;
  font-weight: var(--font-weight-bold);
  font-size: 1.1em;
  transition: 0.2s;
  margin-left: 0.5em;
}
.side-bar-btn:hover {
  background: #188ad1;
}
.profile-widget-btn {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: auto;
  align-self: flex-start;
  border: none;
  padding: 0.8em;
  border-radius: 25px;
  text-decoration: none;
  background: transparent;
}
.profile-widget-btn * {
  background: transparent;
}

.profile-widget-btn > * {
  font-size: 1rem;
}
.profile-widget-btn p:first-of-type {
  font-weight: var(--font-weight-bold);
}

.profile-widget-btn:hover {
  background: var(--hover-highlight-background);
}

.user-handle {
  display: flex;
}

/*------------
---------------
   Main-Feed
--------------
------------ */

.main-feed {
  display: flex;
  flex-direction: column;
  width: 620px;
  border: 1px solid var(--accent-border);
}

/*------------
---------------
   Tweet-Form
--------------
------------ */

.tweet-form-container {
  width: 100%;
  border-top: 1px solid #37444e;
}

.tweet-form-container::after {
  content: "";
  display: block;
  border-bottom: 7px solid #182734;
}

.home-link {
  display: block;
  font-size: var(--fontsize-large);
  font-weight: var(--font-weight-bold);
  padding: 0.5em;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--accent-border);
  text-align: left;
}

.form-avatar {
  margin: 0.5em;
}

.form-content {
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid #37444e;
}
form {
  width: 100%;
  margin-top: 1em;
}

.tweet-form-container input {
  display: inline-block;
  border: none;
  outline: none;
  font-size: var(--fontsize-large);
  font-weight: 400;
}

.tweet-form-toolbar {
  display: flex;
  padding-top: 1.5em;
}

.tweet-form-btn {
  margin-left: auto;
  margin-right: 0.5em;
  background: #1da1f3;
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 25px;
  width: fit-content;
  font-weight: var(--font-weight-bold);
  font-size: 1.1em;
  transition: 0.2s;
}
.tweet-form-btn:hover {
  background: #188ad1;
}

.tweet-form-btn:disabled {
  color: #898f95;
  background: #1a608e;
}

/*------------
---------------
   Tweet-Feed
--------------
------------ */
.tweet-feed {
  overflow-y: auto;
  max-height: 100vh;
  border-top: 1px solid #37444e;
}

.tweet-feed::-webkit-scrollbar {
  display: none;
}
/*------------
---------------
   Tweet-Post
--------------
------------ */
.tweet-post-container {
  display: flex;
  min-height: fit-content;
  padding: 0.8em;
  border-top: 1px solid var(--accent-border);
  border-bottom: 1px solid var(--accent-border);
}

.tweet-post-container .tweet-post-title p {
  font-weight: var(--font-weight-bold);
}

.tweet-avatar {
  margin: 0.5em;
}

.tweet-post-title {
  display: flex;
  padding: 0.3em 0;
}
.tweet-post-handle {
  font-weight: lighter;
  color: #7f8f9b;
  margin-left: 0.3em;
}

.tweet-verified-badge {
  font-size: 14px !important;
  margin-left: 0.2em;
}

.tweet-img-container {
  display: flex;
  width: 100%;
  border: 2x solid yellow;
}

.tweet-message {
  padding: 0.5em 0;
}

.tweet-img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  background-size: cover;
  border-radius: 25px;
  border: 1px solid rgb(95, 95, 95);
  margin: 0.7em 0;
}

.tweet-post-content {
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
}

.tweet-post-toolbar > * {
  display: flex;
  margin-right: 4.3em;
}

/*------------
---------------
   Widgets
--------------
------------ */
.widgets-container {
  padding-left: 2em;
}
.widgets-searchbar {
  display: flex;
  align-items: center;
  width: 80%;
  padding-left: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background: var(--hover-highlight-background);
}

.widgets-searchbar > input {
  border: none;
  background: transparent;
  padding: 0.75em;
  font-size: 15px;
  border-radius: 25px;
  outline: none;
}

.twitter-embed-container {
  width: 80%;
  margin-top: 1em;
  padding: 1em;
  background: #2a2f33;
  border-radius: 25px;
}
.twitter-embed-container > h3 {
  background: inherit;
  font-size: 20px;
}

.widgets {
  flex: 0.3;
  background: red;
}
.widgets-search-icon {
  background: transparent;
}

.twitter-legal {
  width: 80%;
  margin-top: 0.5em;
  padding: 1em;
}
.twitter-legal > * {
  padding: 0;
  color: #8394a1;
  margin-right: 0.9em;
  letter-spacing: 0.1px;
}

.twitter-legal small:hover:not(:last-child) {
  border-bottom: 1px solid #8394a1;
  cursor: pointer;
}

/*------------
---------------
   Modal
--------------
------------ */
.modal {
  position: fixed;
  left: 0;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 64, 78, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--twitter-background);
  width: 40%;
  border: 2px solid yellow;
}

.open-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.2s 0s, transform 0.2s;
}

.modal-header {
  padding: 1em;
  border-bottom: 1px solid var(--accent-border);
}

.close-icon * {
  color: var(--twitter-color);
}
.close-icon:hover {
  cursor: pointer;
}

.modal-body {
  display: flex;
  align-items: center;
  padding: 1em;
  padding-bottom: 0;
}

.modal-avatar {
  align-self: flex-start;
}

.modal-fields {
  padding: 0.5em;
  width: 100%;
  border-bottom: 1px solid var(--accent-border);
}

.modal-content input {
  display: block;
  border: none;
  outline: none;
  font-size: var(--fontsize-large);
  font-weight: 400;
  margin-bottom: 1em;
}

.modal-footer {
  padding: 0.5em;
}

.modal-content button {
  display: block;
}
