:root {
  --twitter-color: #50b7f5;
  --twitter-background: #14202b;
  --hover-highlight-background: rgba(29, 161, 242, 0.1);
  --accent-border: rgba(29, 160, 242, 0.19);
  --fontsize-large: 20px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

.App {
  display: grid;
  grid-template-columns: 275px auto 400px;
  height: 100vh;
  margin: 0 auto;
  border: 2px solid yellow;
  max-width: 1300px;
}

.btn {
  cursor: pointer;
}

/*------------
---------------
   Side-Bar
--------------
------------ */

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.twitter-logo {
  border: 2px solid yellow;
  padding-left: 1em;
  margin-bottom: 15px;
}
.twitter-logo:hover {
  background: var(--hover-highlight-background);
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.2em 0.7em;
  margin-bottom: 0.9em;
  font-size: var(--fontsize-large);
  font-weight: var(--font-weight-bold);
  width: fit-content;
  border-radius: 25px;
  border: none;
}
.sidebar-link:hover {
  background: var(--hover-highlight-background);
  color: #188ad1;
  cursor: pointer;
}

.side-bar-btn {
  background: #1da1f3;
  padding: 0.8em 1em;
  border: none;
  border-radius: 25px;
  width: 230px;
  font-weight: var(--font-weight-bold);
  font-size: 1.1em;
  transition: 0.2s;
  margin-left: 0.5em;
}
.side-bar-btn:hover {
  background: #188ad1;
}
.profile-widget-btn {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: auto;
  align-self: flex-start;
  border: none;
  padding: 0.5em;
  border-radius: 25px;
  text-decoration: none;
  background: transparent;
}
.profile-widget-btn > * {
  font-size: 1rem;
}
.profile-widget-btn p:first-of-type {
  font-weight: var(--font-weight-bold);
}

.profile-widget-btn:hover {
  background: var(--hover-highlight-background);
}

.user-handle {
  display: flex;
}

/*------------
---------------
   Main-Feed
--------------
------------ */

.main-feed {
  display: flex;
  flex-direction: column;
  width: 620px;
  border: 1px solid var(--accent-border);
}

/*------------
---------------
   Tweet-Form
--------------
------------ */

.tweet-form-container {
  width: 100%;
  border-bottom: 1px solid var(--hover-highlight-background);
}

.tweet-form-container::after {
  content: "";
  display: block;
  border-bottom: 7px solid var(--accent-border);
}

.home-link {
  display: block;
  font-size: var(--fontsize-large);
  font-weight: var(--font-weight-bold);
  padding: 0.5em;
  width: 100%;
  border-bottom: 1px solid var(--accent-border);
  text-align: left;
}

.form-avatar {
  margin: 0.5em;
}

.form-content {
  display: flex;
  padding: 0.5em;
  border: 2px solid orange;
}
form {
  border: 2px solid blue;
  width: 100%;
  margin-top: 1em;
}

.tweet-form-container input {
  display: inline-block;
  border: none;
  outline: none;
  font-size: var(--fontsize-large);
  font-weight: 400;
}

.tweet-form-toolbar {
  display: flex;
  border: 2px solid yellow;
  padding-top: 1.5em;
}

.tweet-form-toolbar-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid orange;
  width: 50%;
}

.toolbar-media-btn {
  margin-right: 0.5em;
}

.tweet-form-btn {
  margin-left: auto;
  margin-right: 0.5em;
  background: #1da1f3;
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 25px;
  width: fit-content;
  font-weight: var(--font-weight-bold);
  font-size: 1.1em;
  transition: 0.2s;
}
.tweet-form-btn:hover {
  background: #188ad1;
}

/*------------
---------------
   Tweet-Post
--------------
------------ */
.tweet-post-container {
  display: flex;
  min-height: fit-content;
  padding: 0.8em;
  border-top: 1px solid var(--accent-border);
  border-bottom: 1px solid var(--accent-border);
}

.tweet-post-container .tweet-post-title p {
  font-weight: var(--font-weight-bold);
}

.tweet-avatar {
  margin: 0.5em;
}

.tweet-post-title {
  display: flex;
  padding: 0.3em 0;
}
.tweet-post-handle {
  font-weight: lighter;
  color: #7f8f9b;
  margin-left: 0.3em;
}

.tweet-verified-badge {
  font-size: 14px !important;
  margin-left: 0.2em;
}

.tweet-img {
  width: 100%;
  background-size: cover;
  border-radius: 25px;
  border: 1px solid rgb(95, 95, 95);
  margin: 0.5em 0;
}

.tweet-post-content {
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
}

.tweet-post-toolbar {
  display: flex;
  justify-content: space-between;
}

/*------------
---------------
   Widgets
--------------
------------ */
.widgets-container {
  border: 2px solid orange;
}
.widgets-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.twitter-embed-container {
  width: 80%;
}

.widgets {
  flex: 0.3;
}
